# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Virtualenv
.venv/
venv/
ENV/

# Environment variables (DO NOT COMMIT SECRETS)
.env
.env.*
!.env.example
!.env.local.example

# Node
node_modules/
.next/
.vercel/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Misc
Untitled
nul

